<!DOCTYPE html>

<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head th:include="/base/common :: commonHead">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">
    <title>首页</title>
</head>

<body class="page-homepage navigation-fixed-top page-slider page-slider-search-box" id="page-top" data-spy="scroll"
      data-target=".navigation" data-offset="90">
<!-- Wrapper -->
<div class="wrapper">

    <div th:replace="/base/header :: pageHead"></div><!-- /.navigation -->

    <!-- Slider -->
    <div id="slider" class="loading has-parallax">
        <div id="loading-icon"><i class="fa fa-cog fa-spin"></i></div>
        <div class="owl-carousel homepage-slider carousel-full-width">
            <div class="slide" th:each="hot:${hotHouses}">
                <div class="container">
                    <div class="overlay">
                        <div class="info">
                            <div class="tag price">$<span th:text="${hot.price}"></span>万</div>
                            <h3><span>地址</span><span th:text="${hot.address}"></span></h3>
                            <figure></figure>
                        </div>
                        <hr>
                        <a href="property-detail.html" class="link-arrow">Read More</a>
                    </div>
                </div>
                <img alt="" style="width: 200%;height: 100%" th:src="@{${hot.imageList[1]}}">
            </div>
        </div>
    </div>
    <!-- end Slider -->

    <!-- Search Box -->
    <div class="search-box-wrapper">
        <div class="search-box-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-9 col-sm-4 col-sm-offset-8">
                        <div class="search-box map">
                            <form role="form" id="form-map" class="form-map form-search" method="POST"
                                  action="/house/list">
                                <h2>搜索</h2>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="search-box-property-id" name="name"
                                           placeholder="输入小区名称">
                                </div>
                                <div class="form-group">
                                    <select name="type">
                                        <option value="1">类型</option>
                                        <option value="1">售卖</option>
                                        <option value="2">出租</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">查找</button>
                                </div><!-- /.form-group -->
                            </form><!-- /#form-map -->
                        </div><!-- /.search-box.map -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.search-box-inner -->
    </div>
    <!-- end Search Box -->

    <!-- Page Content -->
    <div id="page-content">


        <aside id="advertising" class="block">

        </aside>
        <section id="new-properties" class="block">
            <div class="container">
                <header class="section-title">
                    <h2>新上房源</h2>
                    <a href="/house/list" class="link-arrow">所有房源</a>
                </header>
                <div class="row">
                    <div class="col-md-3 col-sm-6" th:each="house:${houses}">
                        <div class="property">
                            <a th:href="@{/house/detail?id=} + ${house.id}">
                                <div class="property-image">
                                    <img alt="" th:src="${house.images}" style="width: 262px;height: 196px">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price" th:text="${house.price} + 万元"></div>
                                        <h3 th:text="${house.name}"></h3>
                                        <figure th:text="${house.address}">}</figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>面积:</header>
                                            <figure><span th:text="${house.area}"></span>m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>卧室:</header>
                                            <figure th:text="${house.beds} + 间"></figure>
                                        </li>
                                        <li>
                                            <header>卫生间:</header>
                                            <figure th:text="${house.baths} + 间"></figure>
                                        </li>
                                        <!-- <li>
                                             <header>车库:</header>
                                             <figure>0</figure>
                                         </li>-->
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><!-- /.row-->
            </div><!-- /.container-->
        </section><!-- /#new-properties-->
        <section id="testimonials" class="block">
            <div class="container">
                <header class="section-title"><h2>Testimonials</h2></header>
                <div class="owl-carousel testimonials-carousel">
                    <blockquote class="testimonial">
                        <figure>
                            <div class="image">
                                <img alt="" th:src="@{/static/assets/img/client-01.jpg}">
                            </div>
                        </figure>
                        <aside class="cite">
                            <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras
                                adipiscing</p>
                            <footer>Natalie Jenkins</footer>
                        </aside>
                    </blockquote>
                    <blockquote class="testimonial">
                        <figure>
                            <div class="image">
                                <img alt="" th:src="@{/static/assets/img/client-01.jpg}">
                            </div>
                        </figure>
                        <aside class="cite">
                            <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras
                                adipiscing</p>
                            <footer>Natalie Jenkins</footer>
                        </aside>
                    </blockquote>
                </div><!-- /.testimonials-carousel -->
            </div><!-- /.container -->
        </section><!-- /#testimonials -->
        <section id="partners" class="block">
            <div class="container">
                <header class="section-title"><h2>Our Partners</h2></header>
                <div class="logos">
                    <div class="logo"><a href=""><img th:src="@{/static/assets/img/logo-partner-01.png}" alt=""></a>
                    </div>
                    <div class="logo"><a href=""><img th:src="@{/static/assets/img/logo-partner-02.png}" alt=""></a>
                    </div>
                    <div class="logo"><a href=""><img th:src="@{/static/assets/img/logo-partner-03.png}" alt=""></a>
                    </div>
                    <div class="logo"><a href=""><img th:src="@{/static/assets/img/logo-partner-04.png}" alt=""></a>
                    </div>
                    <div class="logo"><a href=""><img th:src="@{/static/assets/img/logo-partner-05.png}" alt=""></a>
                    </div>
                </div>
            </div><!-- /.container -->
        </section><!-- /#partners -->
    </div>
    <!-- end Page Content -->
    <!-- Page Footer -->
    <div th:replace="/base/footer :: pageFoot">
        <!-- end Page Footer -->
    </div>

    <div id="overlay"></div>
    <div th:include="/base/common :: commonJs"></div>
    <!--[if gt IE 8]>
    <![endif]-->
    <script>
        $(window).load(function () {
            initializeOwl(false);
        });
    </script>
</div>
</body>
</html>