<!DOCTYPE html>

<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head th:include="/base/common :: commonHead">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <title>Zoner | 500 Internal Server Error</title>

</head>

<body class="page-sub-page page-500 page-error" id="page-top">
<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <div th:replace="/base/header :: pageHead"></div>
    <!-- /.navigation -->
    <!-- end Navigation -->
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">500</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <section id="500">
                <div class="error-page">
                    <div class="title">
                        <img alt="" th:src="@{/static/assets/img/error-page-background.png}" class="top">
                        <header>500</header>
                        <img alt="" th:src="@{/static/assets/img/error-page-background.png}" class="bottom">
                    </div>
                    <h2 class="no-border">Internal Server Error</h2>
                    <a href="" class="link-arrow back" onclick="history.back(-1)">Go Back</a>
                </div>
            </section>
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
    <!-- Page Footer -->
    <!-- end Page Footer -->
</div>

</body>
</html>