<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="pageFoot" id="page-footer">
    <div class="inner">
        <aside id="footer-main">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <article>
                            <h3>关于我们</h3>
                            <p>
                                这是一个DEMO，这是一个DEMO，这是一个DEMO，这是一个DEMO，这是一个DEMO，这是一个DEMO，这是一个DEMO，这是一个DEMO，这是一个DEMO，这是一个DEMO，这是一个DEMO，这是一个DEMO，
                            </p>
                            <hr>
                        </article>
                    </div><!-- /.col-sm-3 -->
                    <div class="col-md-3 col-sm-3">
                        <article>
                            <h3>联系方式</h3>
                            <address>
                                <strong>公司地址</strong><br>
                                火星<br>
                                666大厦2333层
                            </address>
                            123456789<br>
                            <a href="#">2333@666.com</a>
                        </article>
                    </div><!-- /.col-sm-3 -->
                    <div class="col-md-3 col-sm-3">
                        <article>
                            <h3>常用链接</h3>
                            <ul class="list-unstyled list-links">
                                <li><a href="http://www.baidu.com" target="_blank">百度</a></li>
                                <li><a href="http://blog.sina.com.cn/" target="_blank">新浪博客</a></li>
                            </ul>
                        </article>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </aside><!-- /#footer-main -->
        <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
        <aside id="footer-copyright">
            <div class="container">
                <span>Copyright © 2017. All Rights Reserved.</span>
                <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
            </div>
        </aside>
    </div>
</footer>
</body>
</html>