<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navigation" th:fragment="pageHead">
    <div class="secondary-navigation">
        <div class="container">
            <div class="contact">
                <figure><strong>Phone:</strong>+1 810-991-3842</figure>
                <figure><strong>Email:</strong>zoner@example.com</figure>
            </div>
            <div class="user-area">
                <div class="actions">
                    <a th:href="create-agency.html" class="promoted">Create Agency</a>
                    <a th:if="${session.loginUser} == null" href="/account/register"
                       class="promoted"><strong>注册</strong></a>
                    <a th:if="${session.loginUser} == null" href="/account/login">登录</a>
                    <a th:if="${session.loginUser} != null" th:text="${session.loginUser.name}"
                       href="/account/message"></a>
                    <a th:if="${session.loginUser} != null" href="/account/logout">登出</a>
                </div>
                <!--<div class="language-bar">
                    <a href="#" class="active"><img th:src="@{/static/assets/img/flags/gb.png}" alt=""></a>
                    <a href="#"><img th:src="@{/static/assets/img/flags/de.png}" alt=""></a>
                    <a href="#"><img th:src="@{/static/assets/img/flags/es.png}" alt=""></a>
                </div>-->
            </div>
        </div>
    </div>
    <div class="container">
        <header class="navbar" id="top" role="banner">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand nav" id="brand">
                    <a href="/"><img src="/static/assets/img/logo.png" alt="brand"></a>
                </div>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="/index">首页</a></li>
                    <li class="has-child"><a href="/house/list">房产</a>
                        <ul class="child-navigation">
                            <li><a href="/house/list?type=1">售房</a></li>
                            <li><a href="/house/list?type=2">租房</a></li>
                        </ul>
                    </li>
                    <li class="has-child"><a href="#">经纪人</a>
                        <ul class="child-navigation">
                            <li><a href="/agency/agentList">经纪人列表</a></li>
                            <li><a href="/agency/list">经纪机构列表</a></li>
                        </ul>
                    </li>
                    <li><a href="/blog/list">百科</a></li>
                </ul>
            </nav><!-- /.navbar collapse-->
            <div class="add-your-property">
                <a href="/house/add" class="btn btn-default"><i class="fa fa-plus"></i><span
                        class="text">添加房产</span></a>
            </div>
        </header><!-- /.navbar -->
    </div><!-- /.container -->
</div>
</body>
</html>